Repository gardener/autoscaler, pull requests merged in 2022-06, with the labels that each got.

#124 Changes to IT adding retry for scale deployment
  cluster-autoscaler/integration/framework.go
Labels: reviewed/lgtm, size/xs

#126 Adds retry for adding/removing annotations
  cluster-autoscaler/integration/integration_test.go
Labels: reviewed/lgtm, size/xs

#127 Cherry pick of #119
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/core/utils/utils_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#130 Sync with upstream v1.20.3
  .github/workflows/ci.yaml
  cluster-autoscaler/.gitignore
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/Makefile
  cluster-autoscaler/SYNC-CHANGES/SYNC-CHANGES-1.20.md
  cluster-autoscaler/cloudprovider/aws/README.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go
  cluster-autoscaler/cloudprovider/azure/azure_config_test.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/clusterapi/examples/deployment.yaml
  cluster-autoscaler/cloudprovider/packet/README.md
  cluster-autoscaler/cloudprovider/packet/packet_cloud_provider.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/clusterstate/clusterstate_test.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/core/utils/utils.go
  cluster-autoscaler/go.mod
  cluster-autoscaler/integration/framework.go
  cluster-autoscaler/integration/integration_test.go
  cluster-autoscaler/main.go
  cluster-autoscaler/utils/deletetaint/delete.go
  cluster-autoscaler/utils/deletetaint/delete_test.go
  cluster-autoscaler/utils/kubernetes/ready_test.go
  cluster-autoscaler/utils/test/test_utils.go
  cluster-autoscaler/vendor/modules.txt
  cluster-autoscaler/version/version.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xl

#129 Sync with upstream v1.21.3
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/SYNC-CHANGES/SYNC-CHANGES-1.21.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_test.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set.go
  cluster-autoscaler/cloudprovider/azure/azure_scale_set_test.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/cloud_provider.go
  cluster-autoscaler/cloudprovider/packet/README.md
  cluster-autoscaler/cloudprovider/packet/packet_cloud_provider.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest.go
  cluster-autoscaler/clusterstate/clusterstate.go
  cluster-autoscaler/config/autoscaling_options.go
  cluster-autoscaler/core/scale_down.go
  cluster-autoscaler/core/scale_down_test.go
  cluster-autoscaler/core/scale_up_test.go
  cluster-autoscaler/core/static_autoscaler.go
  cluster-autoscaler/estimator/binpacking_estimator.go
  cluster-autoscaler/main.go
  cluster-autoscaler/metrics/metrics.go
  cluster-autoscaler/metrics/metrics_test.go
  cluster-autoscaler/utils/daemonset/daemonset.go
  cluster-autoscaler/utils/daemonset/daemonset_test.go
  cluster-autoscaler/utils/scheduler/scheduler.go
  cluster-autoscaler/version/version.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xl

#131 Sync with upstream v1.22.3
  cluster-autoscaler/FAQ.md
  cluster-autoscaler/SYNC-CHANGES/SYNC-CHANGES-1.22.md
  cluster-autoscaler/cloudprovider/aws/auto_scaling_test.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go
  cluster-autoscaler/cloudprovider/aws/aws_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/aws/aws_manager.go
  cluster-autoscaler/cloudprovider/aws/aws_util.go
  cluster-autoscaler/cloudprovider/aws/aws_util_test.go
  cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_config.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types.go
  cluster-autoscaler/cloudprovider/azure/azure_instance_types/gen.go
  cluster-autoscaler/cloudprovider/azure/azure_kubernetes_service_pool.go
  cluster-autoscaler/cloudprovider/azure/azure_kubernetes_service_pool_test.go
  cluster-autoscaler/cloudprovider/azure/azure_template.go
  cluster-autoscaler/cloudprovider/azure/azure_util_test.go
  cluster-autoscaler/cloudprovider/magnum/README.md
  cluster-autoscaler/cloudprovider/magnum/magnum_manager.go
  cluster-autoscaler/cloudprovider/packet/README.md
  cluster-autoscaler/cloudprovider/packet/packet_cloud_provider.go
  cluster-autoscaler/cloudprovider/packet/packet_manager_rest.go
  cluster-autoscaler/main.go
  cluster-autoscaler/processors/nodegroupset/azure_nodegroups.go
  cluster-autoscaler/processors/nodegroupset/azure_nodegroups_test.go
  cluster-autoscaler/version/version.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xl
