Repository gardener/autoscaler, pull requests merged in 2024-11, with the labels that each got.

#332 Use manual version handling to better indicate fork builds
  .ci/pipeline_definitions
  vertical-pod-autoscaler/common/version.go
Labels: reviewed/ok-to-test, reviewed/lgtm, size/xs

#334 Support extended resources and ephemeral-storage for scale-from-zero specified in MachineClass NodeTemplate
  cluster-autoscaler/cloudprovider/mcm/mcm_manager.go
  cluster-autoscaler/cloudprovider/mcm/mcm_manager_test.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#336 `[Cherry-pick rel-v1.30]` Support extended resources and ephemeral-storage for scale-from-zero specified in MachineClass NodeTemplate
  cluster-autoscaler/cloudprovider/mcm/mcm_manager.go
  cluster-autoscaler/cloudprovider/mcm/mcm_manager_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#335 Handle edge case as described in issue #328
  cluster-autoscaler/cloudprovider/mcm/mcm_cloud_provider.go
  cluster-autoscaler/cloudprovider/mcm/mcm_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/mcm/mcm_manager.go
  cluster-autoscaler/cloudprovider/mcm/test_utils.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#338 [Cherry-pick rel-v1.30] Handle edge case as described in issue #328 (#335)
  cluster-autoscaler/cloudprovider/mcm/mcm_cloud_provider.go
  cluster-autoscaler/cloudprovider/mcm/mcm_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/mcm/mcm_manager.go
  cluster-autoscaler/cloudprovider/mcm/test_utils.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m
