Repository gardener/autoscaler, pull requests merged in 2025-02, with the labels that each got.

#341 Fix Race conditions in Targeted Deletion of machines by CA
  cluster-autoscaler/cloudprovider/mcm/mcm_cloud_provider.go
  cluster-autoscaler/cloudprovider/mcm/mcm_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/mcm/mcm_manager.go
  cluster-autoscaler/cloudprovider/mcm/mcm_manager_test.go
  cluster-autoscaler/cloudprovider/mcm/test_utils.go
  cluster-autoscaler/vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/machineutils/utils.go
  cluster-autoscaler/vendor/modules.txt
Labels: needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/xl

#344 [cherry-pick-v1.30] Fix Race conditions in Targeted Deletion of machines by CA (#341)
  cluster-autoscaler/cloudprovider/mcm/mcm_cloud_provider.go
  cluster-autoscaler/cloudprovider/mcm/mcm_cloud_provider_test.go
  cluster-autoscaler/cloudprovider/mcm/mcm_manager.go
  cluster-autoscaler/cloudprovider/mcm/mcm_manager_test.go
  cluster-autoscaler/cloudprovider/mcm/test_utils.go
  cluster-autoscaler/vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/machineutils/utils.go
  cluster-autoscaler/vendor/modules.txt
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#343 Introduce gosec for Static Application Security Testing (SAST)
  .gitignore
  cluster-autoscaler/Makefile
  cluster-autoscaler/hack/sast.sh
  cluster-autoscaler/hack/tools.mk
  cluster-autoscaler/hack/tools/install-gosec.sh
  hack/boilerplate/boilerplate.py
Labels: needs/ok-to-test, needs/review, size/m
